h2 {
  text-transform: capitalize;
  margin-top: 15px;
  font-size: 48px;
  color: #1c1c1c;
}
.round {
  position: relative;
  overflow: hidden;
}
.round::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-primary {
  width: 200px;
  background: #f5a045;
  color: #fff;
  border: none;
}
.btn {
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 500;
  width: 150px;
  border-radius: 0;
  padding: 17px 5px;
}
.btn-primary:hover {
  background-color: #1c1c1c;
  border: none;
}
.btn i {
  font-size: 11px;
  color: #fff;
  margin-left: 5px;
  vertical-align: baseline;
  transition: 0.3s ease;
}
.bg-background {
  background: #1c1c1c !important;
}
.section-title {
  padding-bottom: 63px;
}
.sub-title h5 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-left: 25px;
  padding-right: 10px;
  color: #ffffff;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 500;
}
.sub-title h5::before,
.sub-title h5::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.sub-title h5::before {
  background: url(../img/icon/2.png) no-repeat;
  left: 100%;
}
.sub-title h5::after {
  background: url(../img/icon/1.png) no-repeat;
  left: 0;
}
.header .header-btn .btn {
  width: 150px;
  border-radius: 0;
  padding: 13px 5px;
}
.header .header-btn .btn-primary:hover {
  background-color: #ffffff;
  color: #f5a045;
}
.logo {
  display: flex;
  align-items: center;
}
.header {
  position: relative;
  width: 100%;
  background: #1c1c1c;
  padding: 0px 90px 0px 100px;
}
.header .navbar {
  height: 100px;
  z-index: 999;
  padding: 0;
}
.header .navbar .nav-item a.active {
  color: #f5a045;
}
.header .navbar .nav-item a {
  display: block;
  color: #fff;
  margin-right: 35px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 65px;
}
.header .navbar .nav-item a:hover {
  color: #f5a045;
}
.header .navbar .nav-item a i {
  font-size: 10px;
  margin-left: 5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .navbar .nav-item:hover i::before {
  content: "\f068";
}

/*============= 
DropDown Menu  
===============*/

.header .navbar .nav-item .dropdown-menu {
  background: #1c1c1c;
  border-radius: 0;
  -webkit-box-shadow: 0px 3px 8px rgb(0 0 0 / 30%);
  box-shadow: 0px 3px 8px rgb(0 0 0 / 30%);
  padding: 0;
  border: none;
  top: 100%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .navbar .nav-item .dropdown-menu li .dropdown-item {
  display: block;
  width: 250px;
  padding: 12px 27px;
  margin-right: 0;
  text-decoration: none;
  line-height: 28px;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header .navbar .nav-item .dropdown-menu li .active {
  background: transparent !important;
}
.header .navbar .nav-item a.active,
.header .navbar .nav-item a:hover {
  color: #f5a045;
}
.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.header .link img {
  width: auto;
  height: auto;
  display: block;
}
.header .link a {
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding-right: 40px;
  padding-left: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .header-mbl-btn a {
  font-size: 18px;
  background-color: #f5a045;
  color: #fff;
  height: 35px;
  width: 45px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

/*================= 
BANNER SECTION 
===================*/
.banner-wrapper {
  background: #1c1c1c;
}
.banner-section {
  background: url(../img/banner/banner.jpg) no-repeat center top;
  background-size: cover;
  margin-right: 100px;
  position: relative;
  padding: 12.3% 0px;
  z-index: 1;
}
.banner-section::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 12.3% 0px;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.banner-section .side-link {
  position: absolute;
  z-index: 1;
  top: 43%;
  right: -450px;
  transform: translateX(-50%) rotate(-90deg);
  color: #fff;
  z-index: 1;
}
.banner-section .side-link a {
  font-family: "CircularStd-Book";
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  color: #7c8082;
  display: inline-block;
  vertical-align: center;
  padding: 0px 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.banner-content span {
  letter-spacing: 3px;
  color: #fff;
  font-family: "PlayfairDisplay";
  font-size: 22px;
}
.banner-content h1 {
  letter-spacing: 3px;
  color: #fff;
  font-family: "PlayfairDisplay";
  font-size: 65px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 20px;
}
.banner-content p {
  color: #fff;
  font-size: 30px;
}
.banner-btn .btn {
  width: 200px;
  border-radius: 50px;
  margin-top: 25px;
}

/*================= 
ABOUT SECTION  STYLES
===================*/
.about-section {
  padding: 175px 0 130px 0;
  overflow: hidden;
  background-color: #ffffff;
}
.about-image {
  position: relative;
}
.about-image img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}
.image-2 {
  width: auto;
  height: auto;
  display: block;
  z-index: 0;
  position: absolute;
  top: -45px;
  left: -50px;
}
.image-3 {
  position: absolute;
  top: -45px;
  right: -50px;
}
.about-section .section-title {
  padding-bottom: 30px;
  margin-top: -45px;
}
.about-section .sub-title h5 {
  position: relative;
  padding-left: 25px;
  margin-left: auto;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 500;
  color: #1c1c1c;
}

.about-section .sub-title h5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/icon/1.png) no-repeat center;
  display: block;
  padding-left: 17px;
  width: auto;
  height: 100%;
}
.about-section .section-title h2 {
  font-size: 48px;
  margin-top: 15px;
}
.about-content .about-block {
  padding-top: 20px;
}
.about-content .about-block .icon img {
  width: auto;
  height: auto;
  display: block;
}
.about-content .about-block .content h4 a {
  margin-top: 25px;
  margin-bottom: 16px;
  font-family: "PlayfairDisplay";
  font-size: 22px;
  display: block;
  color: #1c1c1c;
  transition: 0.3s linear;
}
.about-content .about-block:hover .content h4 a {
  color: #f5a045;
}

.about-btn a.btn {
  width: 200px;
  border-radius: 50px;
  margin-top: 25px;
}

/*================== 
WORKING PROCESS SECTION STYLES
==================== */
.working-section {
  position: relative;
  z-index: 1;
  background: url(../img/working/background.jpg) no-repeat center top;
  background-size: cover;
  padding-top: 127px;
  padding-bottom: 100px;
  overflow: hidden;
}
.item-block-boxs .item-content {
  padding: 40px 20px;
  margin-bottom: 30px;
  background: #333333;
  transition: 0.3s linear;
}

.item-block-boxs .item-content .item-image {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  background: #f5a045;
  transition: 0.3s linear;
}
.item-block-boxs .item-content .item-image img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.item-block-boxs .item-content .content {
  transition: all 0.3s linear;
}
.item-block-boxs .item-content .content h4 {
  color: #fff;
  font-size: 22px;
  padding: 30px 0 15px 0;
}
.item-block-boxs .item-content .content p {
  color: #fff;
  margin-bottom: 0;
}

/* ARCHITECT COMMITTED ALL CARDS HOVER EFFECT */
.item-block-boxs:hover {
  box-shadow: 0px 28px 40px rgb(14 30 53 / 20%);
}
.item-block-boxs .item-content:hover {
  background: #fff;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 10%);
}
.item-block-boxs .item-content:hover .item-image {
  background: #1c1c1c;
}
.item-block-boxs .item-content:hover .content h4,
.item-block-boxs .item-content:hover .content p {
  color: #1c1c1c;
}

/*================== 
THAMNAILS VIDEO STYLES
==================== */
.video-bg-section {
  padding-top: 127px;
  overflow: hidden;
}
.video-image .round::before {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.video-bg h4 {
  color: #ffffff;
  position: absolute;
  content: "";
  z-index: 1;
  left: 50%;
  top: 58%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.video-image .video-bg .fancy-box .video-box .video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f5a045;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 130px;
  margin: 0 auto;
  margin-top: -25px;
  height: 120px;
  width: 120px;
  z-index: 1;
}
.video-image .video-bg .fancy-box .video-box .video-btn::before,
.video-image .video-bg .fancy-box .video-box .video-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.video-image .video-bg .fancy-box .video-box .video-btn::before {
  background-color: #e1e3e6;
  animation: beat infinite 1.2s;
}
.video-image .video-bg .fancy-box .video-box .video-btn::after {
  background-color: transparent;
  border: 8px solid #fff;
}

.video-image .video-bg .fancy-box .video-box .video-btn i {
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  font-size: 20px;
  color: #fff;
}
@keyframes beat {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
/*====================== 
MEDIA QUERY ALL DEVICES 
========================*/

@media (max-width: 1400px) {
  .header .navbar .nav-item a {
    font-size: 14px;
    margin-right: 25px;
  }
  .header .link a {
    font-size: 17px;
    padding-right: 5px;
  }
}

@media (max-width: 1270px) {
  .header .link {
    font-size: 13px;
    padding-right: 10px !important;
  }
}
@media (max-width: 1250px) {
  .header .link {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .header .logo img {
    padding-left: 10px;
  }
  .header .link {
    display: none !important;
  }
  .header .navbar-toggler {
    color: #fff;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 0;
  }
  .header .header-btn {
    margin-left: auto;
    margin-right: 20px;
  }
  .header .navbar-toggler {
    border: none;
    padding: 0;
    margin-top: 5px;
    margin-right: 10px;
  }
  .header .navbar-toggler-icon {
    display: block;
  }
  .header .navbar-toggler-icon i {
    font-size: 20px;
  }
  .header .navbar .main-nav {
    background-color: #1c1c1c;
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    height: auto;
    display: none;
    text-align: left;
    z-index: 999;
    -webkit-box-shadow: 0px 5px 5px #bfbfbf61;
    box-shadow: 0px 5px 5px #bfbfbf61;
  }
  .header .navbar .main-nav .nav-item {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header .navbar .main-nav .nav-item a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 13px 15px;
    width: 100%;
    line-height: 30px;
  }
  .about-section .about-image {
    margin-top: 80px;
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  .header-mbl-btn {
    margin-left: auto;
    margin-right: 10px;
  }
  .banner-content span {
    font-size: 20px;
  }
  .banner-content h1 {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .banner-content span {
    font-size: 20px;
  }
  .banner-content h1 {
    font-size: 35px;
    padding-bottom: 0;
  }
}
